<section class="about-me">
  <div>
    <h1>Sobre mim</h1>
    <p>
      Sou formado em Ciência da Computação e atualmente estou cursando uma
      pós-graduação em Desenvolvimento Full Stack pela PUC Minas para aprimorar
      ainda mais minhas habilidades. Tenho paixão por tecnologia e estou sempre
      buscando novos conhecimentos, explorando novas ferramentas e acompanhando
      as tendências do mercado.
      <br />
      <br />
      Além das habilidades técnicas, valorizo muito a colaboração e a troca de
      experiências sempre valorizando e aprendo constantemente com outros
      desenvolvedores e acredito que o trabalho em equipe é essencial para a
      construção de soluções inovadoras e eficientes.
    </p>
  </div>
</section>
