<section class="social-networks-component">
  <h1>Redes Sociais</h1>
  <div class="social-networks-container">
    <img
      ngSrc="/gmail.png"
      width="100"
      height="100"
      (click)="abrirLink('mailto:contatomatheuspaulo1@gmail.com')"
    />
    <img
      ngSrc="/linkedin.png"
      width="100"
      height="100"
      (click)="
        abrirLink('https://www.linkedin.com/in/matheus-paulo-291828210/')
      "
    />
    <img
      ngSrc="/github.png"
      width="100"
      height="100"
      (click)="abrirLink('https://github.com/matpaulo')"
    />
  </div>
</section>
