<section class="container">
  <div>
    <h1>Projects</h1>
    <div class="cards-container">
      <app-project-card
        title-project="Projeto Full Stack"
        categorie1="REACT"
        categorie2="C#"
        categorie3="TYPESCRIPT"
        description="Repositório do projeto Full Stack em desenvolvimento para estudos de Back-End com o C# e TypeScript."
        link="https://github.com/matpaulo/projeto-full-stack"
      ></app-project-card>
      <app-project-card
        title-project="Menu de Sobremesa"
        categorie1="REACT"
        categorie2="TYPESCRIPT"
        categorie3="BOOTSTRAP"
        description="Repositório do projeto de um menu de sobremesa desenvolvido em React, desafio da plataforma FrontEndMentor"
        link="https://github.com/matpaulo/dessert-menu"
      ></app-project-card>
      <app-project-card
        title-project="Landing Page"
        categorie1="ANGULAR"
        categorie2="TYPESCRIPT"
        categorie3="SASS"
        description="Repositório do projeto desenvolvido para aprendizado de Angular"
        link="https://github.com/matpaulo/landing-page-angular"
      ></app-project-card>
      <app-project-card
        title-project="Portfolio"
        categorie1="ANGULAR"
        categorie2="TYPESCRIPT"
        categorie3="SASS"
        description="Reposítorio deste portfolio."
        link="https://github.com/matpaulo/blog-preview-card"
      ></app-project-card>
    </div>
  </div>
</section>
