<section class="info-section">
  <img
    ngSrc="/infoDevelop.png"
    width="448"
    height="369"
    class="order1"
    priority
  />
  <div class="order2">
    <h3>SOFTWARE DEVELOPER</h3>
    <h1>Matheus</h1>
    <p>
      Sou um desenvolvedor full-stack com experiência em React e Angular para
      front-end, utilizando Sass, Tailwind CSS e Bootstrap para estilização.
      <br />
      No back-end, desenvolvo APIs com Node.js e C#, integrando com bancos de
      dados.
    </p>
    <app-linear-button
      btn-text="Ver o CV"
      link="https://drive.google.com/file/d/1MASJbXsZvhbeGT741pUcLjnnqPwx95Fn/view?usp=sharing"
    ></app-linear-button>
  </div>
</section>
