@use "../../../color-variables.scss" as colors;

.info-section {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;

  img {
    align-self: center;
    width: 240px;
    height: 180px;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    color: colors.$primary-text;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    padding-top: 10px;
    background: -webkit-linear-gradient(
      360deg,
      colors.$primary-color,
      colors.$secondary-color
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
  }

  p {
    padding: 20px 0px;
    font-family: "Montserra", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: colors.$secondary-text;
  }
}

.order1 {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order2 {
  order: 2;
}

@media (min-width: 465px) {
  .info-section {
    padding: 50px 50px;
  }

  .info-section img {
    width: 280px;
    height: 220px;
  }

  .info-section h3 {
    font-size: 24px;
  }

  .info-section h1 {
    font-size: 56px;
  }

  .info-section p {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .info-section img {
    width: 448px;
    height: 369px;
  }

  .info-section h3 {
    font-size: 24px;
  }

  .info-section h1 {
    font-size: 56px;
  }

  .info-section p {
    font-size: 24px;
  }
}

@media (min-width: 1080px) {
  .info-section {
    flex-direction: row;
  }

  .info-section div {
    max-width: 600px;
  }

  .order1 {
    order: 2;
  }
  .order2 {
    order: 1;
  }
}
